* {
    box-sizing: border-box;
    margin: initial;
    padding: initial;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
}

.fill {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;

    &>.grow {
        flex-grow: 1;
        width: 0%;
    }
}

.column {
    display: flex;
    flex-direction: column;

    &>.grow {
        flex-grow: 1;
        height: 0%;
    }
}

#hierarchy {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    padding: 0.5rem;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    max-height: calc(100% - 2rem);
    overflow: auto;
}

#inspector {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    padding: 0.5rem;
    right: 1rem;
    top: 1rem;
    z-index: 1;
    max-height: calc(100% - 2rem);
    overflow: auto;
}