* {
    box-sizing: border-box;
    margin: initial;
    padding: initial;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    flex-grow: 1;
    width: 0%;
    height: 100%;
}